@font-face {
   font-family: 'Play', sans-serif;
   src: url(./fonts/Play-Regular.ttf);
}

:root {
   --color-primary: rgb(255, 255, 255);
   --color-hover: rgb(238, 238, 238);
   --color-active: rgb(211, 211, 211);
   --color-text: rgb(40, 40, 40);
}

body {
   font-family: 'Play', sans-serif;
   font-size: 20px;
   color: var(--color-text);
}

.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
}

.textarea {
   font-family: inherit;
   font-size: 18px;
   min-width: 600px;
   min-height: 100px;
}

.keyboard {
   display: flex;
   gap: 10px;
   flex-direction: column;
   background-color: var(--color-primary);
   border-radius: 10px;
   padding: 10px;
   box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.3);
}

.keyboard__row {
   display: flex;
   gap: 10px;
}

.key {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
   min-height: 40px;
   min-width: 40px;
   background-color: var(--color-primary);
   border-radius: 10px;
   cursor: pointer;
   transition: all .2s;
   box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
}

.key:hover {
   background-color: var(--color-hover);
}

.key:active {
   top: 2px;
   box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3) inset;
   background-color: var(--color-active);
}

.Backspace {
   min-width: 140px;
}

.Tab {
   min-width: 60px;
}

.Delete {
   min-width: 60px;
}

.CapsLock {
   min-width: 100px;
}

.Enter {
   min-width: 140px;
}

.ShiftLeft,
.ShiftRight {
   min-width: 120px;
}

.ControlLeft,
.ControlRight {
   min-width: 60px;
}

.Space {
   min-width: 400px;
}